* {
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
  }
  
  .poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
  }
  
  .poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
  }
  
  .poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
  }
  
  .poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
  }
  
  .poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
  }
  
  .poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
  }
  
  .poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
  }
  
  .poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
  }
  
  .poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
  }
  
  .poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
  }
  
  .poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
  }
  
  .poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
  }
  
  .poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
  }
  

body {
	margin: 0rem;
	padding: 0rem;
	background-color: #3B6A48;
	background-image: 
            radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
            radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
            background-size: 0.5rem 0.5rem; /* Tamanho do padrão de ruído */
            background-position: 0 0, 0.5rem 0.5rem; /* Posição dos padrões */
    height: 100vh;
    width: 100%;
}

/* Navbar */

nav {
	margin: 0rem;
	padding: 0rem;
}

nav p {
	font-size: 1.25rem;
	margin: 1rem;
	margin-top: 1rem;
	color: #000000;
}

.navbar {
	width: auto;
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 1rem 4rem 1rem 4rem;
	align-items: center;
	background-color: #b6d3b5;
	border-bottom: 0.25rem solid #000000;
}

.navbar a {
	color: inherit;
	text-decoration: none;
}

.nav-container {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.nav-container a {
	text-decoration: underline;
	text-underline-offset: 0.25rem;
	font-size: 1.25rem;
	font-weight: bold;
}

.nav-container a:hover {
	transition: 10ms;
	color: #3B6A48;
	cursor: pointer;
}

.nav-title {
	font-weight: bold;
	font-size: 2.5rem;
}

/* Main content section */

.main {
	margin: 0;
	margin-top: 3rem;
	margin-bottom: 5rem;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 75vh;
}

.upcoming-image img {
	width: 35rem;
	height: 35rem;
	border-radius: 20rem;
	margin-left: 8rem;
	box-shadow: 0.5rem 0.75rem;
}

.main-text {
	width: 50rem;
	height: 50rep;
	margin-left: 8rem;
	font-size: 70px;
	display: flex;
	flex-direction: column;
}

.main-text div {
	margin: 1rem;
}

.welcome {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 5rem;
}

.apresentation {
	font-weight: 400;
	color: #FFFFFF;
	font-size: 3rem;
}

/* Informations section */

.informations-section {
	width: 100%;
	height: 100%;
	background-color: #323630;
	background-image: linear-gradient(to bottom, #3B6A48, #080807);
	display: flex;
	justify-content: center;
	align-items: center;
}

.informations {
	width: 75%;
	display: flex;
}

.informations img {
	width: 10rem;
	height: 10rem;
}

.informations-div {
	background-color: #FFFFFF;
	margin: 1rem;
	max-width: fit-content;
	box-shadow: 0.5rem 0.75rem;
	border-radius: 0.25rem;
}

.informations-div:has(img):hover {
	background-color: #3B6A48;
	margin: 1rem;
	max-width: fit-content;
	box-shadow: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	transition: 0.25s;
	cursor: pointer;
}

.technologies {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.tech {
	padding: 1rem;
}

.description {
	padding: 1rem;
	align-items: center;
	justify-content: center;
	max-height: min-content;
	display: grid;
	place-items: center;
}

.description p {
	font-size: 2rem;
}