
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 14;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

body{
  min-height: 100vh;
  background-color: rgb(59, 106, 72);
}

.form{
  display: flex;
  background-color: white;
  width: 400px;
  height: 500px;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  border-radius: 0.25rem;
  box-shadow: 10px 15px;
}

.form h1{
  font-size: 40px;
  text-align: center;
}

.form .name {
  width: 16rem;
  height: 2rem;
  margin-bottom: 4rem;
  
}

.form .input{
  width: 16rem;
  height: 2rem;
  margin-top: 0.25rem;  
  border-radius: 0.25rem;
  border: 0.125rem solid;
  padding: 0.25rem;
  font-weight: bolder;
  
}

.form label{
  font-weight: bolder;
  font-size: 1rem;
}

.form .email{
  width: 16rem;
  height: 2rem;
  margin-bottom: 4rem;
}

.form .message textarea{
  width: 16rem;
  height: 8rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
  border: 0.125rem solid;
  padding: 0.5rem;
  font-weight: bolder;

}

.form .green-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.form .green-button button{
  background-color: rgb(59, 106, 72);
  color: white;
  font-weight: bolder;
  border-radius: 0.25rem;
  width: 8rem;
  height: 2.5rem;
  border: 0px;
  font-size: 1rem;
  cursor: pointer;
}

.form .green-button button:hover{
  opacity: 75%;
  transition: 1ms;
}

